bin/
dev/
testbin/
*.test
**/__debug_bin
*.out
.vscode
.idea
*.swp
*~
tilt_modules/
tilt-options.yaml
Dockerfile.dapper*
*.DS_Store

# Distribution/packaging
dist/
build/
/.dapper
config/samples/_v1beta1_gpupolicyadapter-vgpu.yaml
deploy/examples/gpu/vgpu.yaml
# deploy/manifests
deploy/custom/cortex.yaml
deploy/custom/grafana.yaml
deploy/custom/opni-monitoring.yaml

/report.json
/cover.out
/cover.profile


docs/public/
docs/resources/
docs/node_modules/
docs/tech-doc-hugo
docs/*.sw?
docs/.hugo_build.lock
web/dist/
