@import "typography";

.td-navbar .td-search-input {
  background: $light;
}

.td-navbar {
  background: $lightest;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    span:last-child {
      // hide the default text
      display: none;
    }
  }

  svg {
    shape-rendering: geometricPrecision;
    max-width: fit-content;
    margin: 0 !important;
    min-height: 48px;
  }
}

.td-page-meta--child {
  display: none !important;
}

button.drawiobtn {
  border: 0px !important;
  border-radius: 4px !important;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: $primary;
  }
}