@import "typography";

.td-navbar .td-search-input {
  background: $light;
}

.td-navbar {
  background: $lightest;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    span:last-child {
      // hide the default text
      display: none;
    }
  }

  svg {
    shape-rendering: geometricPrecision;
    max-width: fit-content;
    margin: 0 !important;
    min-height: 48px;
  }
}

.td-page-meta--child {
  display: none !important;
}

button.drawiobtn {
  border: 0px !important;
  border-radius: 4px !important;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: $primary;
  }
}

.section-index {
  background: $lighter;
  margin-top: 2rem;
  padding: 1rem;

  .other-pages-label {
    color: $darker !important;
    margin-bottom: 10px;
  }

  .page-description {
    color: $darkest !important;
  }

  div.entry {
    padding-bottom: 0;
  }
}

.td-main {
  main {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  }
}