annotations:
  catalog.cattle.io/auto-install: opni-crd=match
  catalog.cattle.io/display-name: Opni
  catalog.cattle.io/os: linux
  catalog.rancher.io/namespace: opni-cluster-system
  catalog.rancher.io/release-name: opni
apiVersion: v2
appVersion: 0.5.4-rc4
dependencies:
- condition: opni-prometheus-crd.enabled
  name: opni-prometheus-crd
  repository: file://./charts/opni-prometheus-crd
description: Multi-cluster Monitoring and Logging System
icon: https://raw.githubusercontent.com/rancher/opni-docs/main/docs/assets/icon-opni.svg
keywords:
- opni
- monitoring
- logging
- rancher
- observability
maintainers:
- email: joe.kralicky@suse.com
  name: Joe Kralicky
- email: dan.bason@suse.com
  name: Dan Bason
name: opni
type: application
version: 0.5.4-rc4
