receivers:
  otlp:
    protocols:
      http:
        endpoint: ":{{ .AggregatorPort }}"
exporters:
  otlp:
    endpoint: "{{ .ForwarderAddress }}"
    tls:
      insecure: true
service:
  telemetry:
    logs:
      level: info
      initial_fields:
        service: aggregator
    metrics:
      level: none
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
