
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: storeendpoints.thanos.opni.io
spec:
  group: thanos.opni.io
  names:
    kind: StoreEndpoint
    listKind: StoreEndpointList
    plural: storeendpoints
    singular: storeendpoint
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              config:
                properties:
                  mountFrom:
                    properties:
                      secretKeyRef:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                    type: object
                  value:
                    type: string
                  valueFrom:
                    properties:
                      secretKeyRef:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                    type: object
                type: object
              ingress:
                properties:
                  certificate:
                    type: string
                  host:
                    type: string
                  ingressOverrides:
                    properties:
                      metadata:
                        properties:
                          annotations:
                            additionalProperties:
                              type: string
                            type: object
                          labels:
                            additionalProperties:
                              type: string
                            type: object
                        type: object
                      spec:
                        properties:
                          backend:
                            properties:
                              resource:
                                properties:
                                  apiGroup:
                                    type: string
                                  kind:
                                    type: string
                                  name:
                                    type: string
                                required:
                                - kind
                                - name
                                type: object
                              serviceName:
                                type: string
                              servicePort:
                                anyOf:
                                - type: integer
                                - type: string
                                x-kubernetes-int-or-string: true
                            type: object
                          ingressClassName:
                            type: string
                          rules:
                            items:
                              properties:
                                host:
                                  type: string
                                http:
                                  properties:
                                    paths:
                                      items:
                                        properties:
                                          backend:
                                            properties:
                                              resource:
                                                properties:
                                                  apiGroup:
                                                    type: string
                                                  kind:
                                                    type: string
                                                  name:
                                                    type: string
                                                required:
                                                - kind
                                                - name
                                                type: object
                                              serviceName:
                                                type: string
                                              servicePort:
                                                anyOf:
                                                - type: integer
                                                - type: string
                                                x-kubernetes-int-or-string: true
                                            type: object
                                          path:
                                            type: string
                                          pathType:
                                            type: string
                                        required:
                                        - backend
                                        type: object
                                      type: array
                                  required:
                                  - paths
                                  type: object
                              type: object
                            type: array
                          tls:
                            items:
                              properties:
                                hosts:
                                  items:
                                    type: string
                                  type: array
                                secretName:
                                  type: string
                              type: object
                            type: array
                        type: object
                    type: object
                  path:
                    type: string
                type: object
              metaOverrides:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                type: object
              selector:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  grpcPort:
                    format: int32
                    type: integer
                  httpPort:
                    format: int32
                    type: integer
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  namespaces:
                    type: string
                type: object
              serviceOverrides:
                properties:
                  metadata:
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  spec:
                    properties:
                      allocateLoadBalancerNodePorts:
                        type: boolean
                      clusterIP:
                        type: string
                      clusterIPs:
                        items:
                          type: string
                        type: array
                        x-kubernetes-list-type: atomic
                      externalIPs:
                        items:
                          type: string
                        type: array
                      externalName:
                        type: string
                      externalTrafficPolicy:
                        type: string
                      healthCheckNodePort:
                        format: int32
                        type: integer
                      internalTrafficPolicy:
                        type: string
                      ipFamilies:
                        items:
                          type: string
                        type: array
                        x-kubernetes-list-type: atomic
                      ipFamilyPolicy:
                        type: string
                      loadBalancerClass:
                        type: string
                      loadBalancerIP:
                        type: string
                      loadBalancerSourceRanges:
                        items:
                          type: string
                        type: array
                      ports:
                        items:
                          properties:
                            appProtocol:
                              type: string
                            name:
                              type: string
                            nodePort:
                              format: int32
                              type: integer
                            port:
                              format: int32
                              type: integer
                            protocol:
                              default: TCP
                              type: string
                            targetPort:
                              anyOf:
                              - type: integer
                              - type: string
                              x-kubernetes-int-or-string: true
                          required:
                          - port
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - port
                        - protocol
                        x-kubernetes-list-type: map
                      publishNotReadyAddresses:
                        type: boolean
                      selector:
                        additionalProperties:
                          type: string
                        type: object
                      sessionAffinity:
                        type: string
                      sessionAffinityConfig:
                        properties:
                          clientIP:
                            properties:
                              timeoutSeconds:
                                format: int32
                                type: integer
                            type: object
                        type: object
                      topologyKeys:
                        items:
                          type: string
                        type: array
                      type:
                        type: string
                    type: object
                type: object
              thanos:
                type: string
              url:
                type: string
            required:
            - thanos
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
