aiohttp==3.7.4.post0
boto3==1.17.45
botocore==1.20.45
cachetools==4.2.1
elasticsearch[async]==7.13.0
fastapi==0.63.0
jsonpickle==1.5.1
kubernetes==12.0.1
numpy==1.20.3
opni-nats==0.0.0.4
pandas==1.2.3
prometheus_api_client==0.4.2
ruptures==1.1.4
scikit_learn==0.24.1
schedule==1.1.0
statsmodels==0.12.2
uvicorn==0.13.4
opni-aiops-apis==0.5.4