---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: collectors.core.opni.io
spec:
  group: core.opni.io
  names:
    kind: Collector
    listKind: CollectorList
    plural: collectors
    singular: collector
  scope: Cluster
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              agentEndpoint:
                type: string
              loggingConfig:
                properties:
                  name:
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            properties:
              conditions:
                items:
                  type: string
                type: array
              message:
                type: string
              phase:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
