---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: multiclusterrolebindings.logging.opni.io
spec:
  group: logging.opni.io
  names:
    kind: MulticlusterRoleBinding
    listKind: MulticlusterRoleBindingList
    plural: multiclusterrolebindings
    singular: multiclusterrolebinding
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.state
      name: State
      type: boolean
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              neural_search:
                properties:
                  enabled:
                    type: boolean
                  url:
                    type: string
                type: object
              opensearch:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              opensearchConfig:
                properties:
                  indexRetention:
                    type: string
                type: object
              opensearchExternalURL:
                type: string
            type: object
          status:
            properties:
              conditions:
                items:
                  type: string
                type: array
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
