---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: collectorconfigs.monitoring.opni.io
spec:
  group: monitoring.opni.io
  names:
    kind: CollectorConfig
    listKind: CollectorConfigList
    plural: collectorconfigs
    singular: collectorconfig
  scope: Cluster
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              otelSpec:
                properties:
                  additionalScrapeConfigs:
                    items:
                      properties:
                        jobName:
                          type: string
                        scrapeInterval:
                          type: string
                        targets:
                          items:
                            type: string
                          type: array
                      type: object
                    type: array
                  hostMetrics:
                    type: boolean
                type: object
              prometheusDiscovery:
                type: object
              remoteWriteEndpoint:
                type: string
            type: object
          status:
            properties:
              conditions:
                items:
                  type: string
                type: array
              message:
                type: string
              phase:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
