---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: keyrings.opni.io
spec:
  group: opni.io
  names:
    kind: Keyring
    listKind: KeyringList
    plural: keyrings
    singular: keyring
  scope: Namespaced
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          data:
            format: byte
            type: string
          kind:
            type: string
          metadata:
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
